<?xml version="1.0" encoding="UTF-8"?> 
<web-app xmlns:javaee="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
 <servlet>
		<servlet-name>utx-uas</servlet-name>
		<servlet-class>com.xwood.utx.UserActionServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>utx-uas</servlet-name>
		<url-pattern>/actiontest/</url-pattern>
	</servlet-mapping>

  <context-param>
    <javaee:param-name>contextConfigLocation</javaee:param-name>
    <javaee:param-value>
			/WEB-INF/applicationContext-trans.xml
	  </javaee:param-value>
  </context-param>
  <listener>
    <javaee:listener-class>
			org.springframework.web.context.ContextLoaderListener
		</javaee:listener-class>
  </listener>
  <listener>
    <javaee:listener-class>com.xwood.utx.util.SpringBeans</javaee:listener-class>
  </listener>
</web-app>